$light: #eee;
$gray: #8a8d83;
$dark: #222222;
$primary: #ffe865;
$hot-red: #ff004a;
$title-font-family: 'Inter', 'Helvetica Neue', Helvetica, Arial, 'PingFang TC', '黑體-繁', 'Heiti TC',
'蘋果儷中黑', 'Apple LiGothic Medium', '微軟正黑體', 'Microsoft JhengHei', sans-serif;
$content-font-family: 'Lato', 'Helvetica Neue', Helvetica, Arial, 'PingFang TC', '黑體-繁', 'Heiti TC',
'蘋果儷中黑', 'Apple LiGothic Medium', '微軟正黑體', 'Microsoft JhengHei', sans-serif;
$focus-outline: 2px solid $primary;